<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.pullulate.system.mapper.PulDictDataMapper">

    <resultMap id="BaseResultMap" type="PulDictData">
        <id column="dict_data_id" property="dictDataId"/>
        <id column="dict_type_id" property="dictTypeId"/>
        <result column="value" property="value"/>
        <result column="label" property="label"/>
        <result column="order_num" property="orderNum"/>
        <result column="status" property="status"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>

    <resultMap id="PulDictDataViewVoResultMap" type="top.pullulate.web.data.viewvo.PulDictDataViewVo">
        <id column="dict_data_id" property="dictDataId"/>
        <id column="dict_type_id" property="dictTypeId"/>
        <result column="value" property="value"/>
        <result column="label" property="label"/>
        <result column="order_num" property="orderNum"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_at" property="createAt"/>
    </resultMap>
    
    <sql id="AllInfoField">
        dd.dict_data_id, dd.dict_type_id, dd.value, dd.label, dd.order_num, dd.status, dd.delete_flag, dd.create_by, dd.create_at, dd.update_by, dd.update_at
    </sql>

    <sql id="DictDataPageField">
        dd.dict_data_id, dd.dict_type_id, dd.value, dd.label, dd.order_num, dd.status, dd.create_at
    </sql>

    <select id="selectDictDataPage" resultMap="PulDictDataViewVoResultMap">
        select
        <include refid="DictDataPageField"></include>
        from pul_dict_data dd
        where
        dd.delete_flag = '0'
        order by dd.order_num asc
    </select>
</mapper>