<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.pullulate.system.mapper.PulMenuMapper">

    <resultMap id="BaseResultMap" type="PulMenu">
        <id column="menu_id" property="menuId"/>
        <result column="parent_id" property="parentId"/>
        <result column="title" property="title"/>
        <result column="us_title" property="usTitle"/>
        <result column="name" property="name"/>
        <result column="path" property="path"/>
        <result column="redirect" property="redirect"/>
        <result column="component" property="component"/>
        <result column="keep_alive" property="keepAlive"/>
        <result column="permission" property="permission"/>
        <result column="target" property="target"/>
        <result column="hidden" property="hidden"/>
        <result column="hide_children_in_menu" property="hideChildrenInMenu"/>
        <result column="hidden_header_content" property="hiddenHeaderContent"/>
        <result column="icon" property="icon"/>
        <result column="menu_type" property="menuType"/>
        <result column="order_num" property="orderNum"/>
        <result column="status" property="status"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>
    
    <sql id="AllInfoField">
        m.menu_id, m.parent_id, m.title, m.us_title, m.name, m.path, m.redirect, m.component, m.keep_alive, m.permission, m.target, m.hidden, m.hide_children_in_menu,
        m.hidden_header_content, m.icon, m.menu_type, m.order_num, m.status, m.delete_flag, m.remark, m.create_by, m.create_at, m.update_by,m.update_at
    </sql>

    <sql id="BuildMenuField">
        m.menu_id, m.parent_id, m.title, m.us_title, m.name, m.path, m.redirect, m.component, m.keep_alive, m.permission, m.target, m.hidden, m.hide_children_in_menu,
        m.hidden_header_content, m.icon, m.menu_type, m.order_num
    </sql>

    <select id="selectUserMenusByUserId" parameterType="String" resultMap="BaseResultMap">
        select
        distinct <include refid="BuildMenuField"></include>
        from pul_menu m
        left join pul_role_menu rm on rm.menu_id = m.menu_id
        right join (
            select r.role_id from pul_role r left join pul_user_role ur on ur.role_id = r.role_id
            where ur.user_id = #{userId} and r.status = '0' and r.delete_flag = '0'
        ) roles on roles.role_id = rm.role_id
        where m.status = '0'
        order by m.menu_type, m.order_num asc
    </select>
</mapper>